@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    -ms-transition:.3s ease all;
}

img:hover{
    scale: 102%;
}

/* Menghilangkan tanda silang pada input tipe search di berbagai browser */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-moz-search-cancel-button {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/* Loading */
.loading {
  --d:44px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: #ffc639;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 2px,
    calc(0*var(--d))      calc(1*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 6px,
    calc(-1*var(--d))     calc(0*var(--d))     0 8px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 10px,
    calc(0*var(--d))      calc(-1*var(--d))    0 12px;
  animation: s7 0.5s infinite steps(8);
}

@keyframes s7 {
  100% {transform: rotate(1turn)}
}